Aquesta pàgina conté un resum del conjunt actual de sol·licituds
administratives que requereixen la vostra aprovació a la
<a href="%(adminurl)s"> llista de correu <em>%(listname)s</em></a>.
Primer de tot, i si és que n'hi ha, trobareu la llista de sol·licituds
de subscripció i cancel·lació pendents, seguides de qualsevol enviament
retingut en espera de la vostra aprovació.

<p>Seleccioneu l'acció a dur a terme per a cada sol·licitud d'administració. Un cop hàgiu acabat, feu clic al botó <b>Envia totes
les dades</b>. També hi ha <a href="%(detailsurl)s">intruccions més detallades</a>
disponibles.

<p>També podeu <a href="%(viewallurl)s">visualitzar els detalls</a> de
tots els missatges retinguts.
