Les sol·licituds d'administració es mostren en una de dues maneres possibles: en una <a href="%%28summaryurl%29s">pàgina de resum</a>, i en una pàgina de <em>detalls</em>.
La pàgina de resum conté les sol·licituds de subscripció i de
cancel·lació pendents, i els missatges retinguts que esperen la vostra
aprovació, ordenats segons l'adreça del remitent. La pàgina de detalls
conté una vista més detallada d'aquests missatges retinguts, incloent-ne el títol
sencer i un extracte
del cos.

<p>Les accions següents estan disponibles a totes les pàgines:

<ul> <li><b>Ajorna</b> -- ajornament de la decisió per més endavant. No es
durà a terme cap acció per a&nbsp;aquesta sol·licitud&nbsp;d'administració. Pel que fa als missatges retinguts, encara es
podran reenviar o mantenir (vegeu l'acció de sota).

<li><b>Aprova</b> -- aprovació del missatge i enviament a&nbsp;la
llista. Si és una&nbsp;sol·licitud de subscripció, s'aprovarà el canvi
d'estat de la subscripció.

<li><b>Rebutja</b> -- rebuig del missatge, enviament d'una nota de
rebuig al remitent i descart del missatge original. Si és una
sol·licitud de subscripció, es rebutjarà el canvi d'estat de la
subscripció. En qualsevol cas, és recomanable donar un motiu per a tal
decisió al quadre de text del costat.

<li><b>Descarta</b> -- supressió del missatge original sense enviar
una nota de rebuig. Si és una sol·licitud de subscripció, es descartarà
sense enviar cap notificació al remitent. Aquesta és la manera d'actuar
davant de l'spam. </ul>

<p>Per als missatges retinguts, activeu l'opció <b>Manté</b> per a desar 
  una còpia del missatge per a l'administrador del lloc. Això és 
  molt útil per a missatges abusius que vulgueu descartar, però dels quals en calgui una còpia per a inspeccions posteriors.

<p>Activeu l'opció <b>Reenvia a</b>, i escriviu l'adreça de
reenviament si voleu reenviar el missatge a algú que no sigui a la
llista. Per a modificar un missatge retingut abans d'enviar-lo a la
llista, us l'haureu d'enviar a vós mateix&nbsp;(o bé al propietari de
la llista), i descartar l'original. Un cop l'hàgiu rebut a la bústia
d'entrada, haureu de realitzar-hi els canvis pertinents i reenviar-lo&nbsp;a la
llista amb una capçalera <tt>Approved:</tt> que inclogui la vostra contrasenya de la llista com a valor. En aquest 
  casos és recomanable&nbsp;una nota en el&nbsp;missatge 
  nou amb una explicació de les modificacions del text original.

<p>Opcionalment, si el remitent del missatge original és un membre de la 
  llista en espera de moderació, podeu suprimir-li el senyalador que així ho especifica. Això és útil 
  en el cas que la vostra llista estigui configurada per a posar en període de prova 
  els membres nous, i ja hàgiu decidit que aquest membre concret 
  és fiable i pot enviar missatges a la llista sense necessitat d'aprovació.

<p>En cas que el remitent no sigui un membre de 
  la llista, podeu afegir la seva adreça electrònica a un <em>filtre de remitents</em>. 
  Els filtres de remitents es descriuen a la <a href="%%28filterurl%29s">pàgina de privacitat del filtre de remitents</a>, 
  i poden ser d'<b>auto-accept</b> (Accepts), d'<b>auto-hold</b> (Holds), d'<b>auto-reject</b> 
  (Rejects), o d'<b>auto-discard</b> (Discards). Aquesta opció no estarà 
  disponible si l'adreça ja apareix en un filtre de remitents.

<p>Un cop&nbsp;hàgiu acabat, feu clic al&nbsp;botó&nbsp;<em>Envia totes les dades</em> 
  que es troba&nbsp;a l'inici i al final de la pàgina. Aquest botó 
  enviarà totes les accions seleccionades de totes les sol·licituds d'administració 
  sobre les quals hàgiu pres una decisió.

<p><a href="%(summaryurl)s">Torna a la pàgina principal</a>. 
