<html>
<head>
    <title>Autenticació per als arxius privats de %(realname)s</title>
</head>
<body bgcolor="#ffffff">
<FORM METHOD=POST ACTION="%(action)s">
%(message)s
  <TABLE WIDTH="100%%" BORDER="0" CELLSPACING="4" CELLPADDING="5">
    <TR>
      <TD COLSPAN="2" WIDTH="100%%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	<B><FONT COLOR="#000000" SIZE="+1">Autenticació per als arxius
	    privats de %(realname)s</FONT></B>
      </TD>
    </TR>
    <tr>
        <TD><div ALIGN="Right">Adreça electrònica:</div>
        <TD><INPUT TYPE="text" NAME="username" SIZE="30"></TD>
    </tr>
    <tr>
      <TD><div ALIGN="Right">Contrasenya:</div></TD>
      <TD><INPUT TYPE="password" NAME="password" SIZE="30"></TD>
    </tr>
    <tr>
      <td colspan=2 align="middle"><INPUT type="SUBMIT"
                                          name="submit"
					  value="Entra...">
        </td>
      </tr>
  </TABLE>
      <p><strong><em>Important:</em></strong>
      a partir d'aquí, caldrà que tingueu les galetes habilitades en el
      vostre navegador. En cas contrari, us haureu de tornar a autenticar per a cada operació. </p>

      <p>La interfície administrativa del Mailman utilitza galetes de
      sessió, de manera que us hàgiu de tornar a autenticar per a cada
      operació. Aquesta galeta expirarà automàticament quan
      sortiu del navegador. De manera alternativa,&nbsp;podeu eliminar-la
      explícitament si feu clic al botó <em>Surt</em> a sota d'<em>Altres
      activitats administratives</em> (el qual es mostrarà un cop hàgiu
      entrat).
</FORM>
</body>
</html>
