 管理任务有<a
href="%(summaryurl)s">摘要页面</a>和详细资料页面两种显示方式。与等待批准的邮件一样，摘要页面包括了以发送人邮件地址分组的等待处理的订阅与取消订阅请求。详细资料页面则包括每条消息的消息头信息和消息体摘要在内的更进一步的信息。

<p>以下动作在所有页面均可执行： 
<ul>
<li><b>Defer</b> -- 


 延期，以后再做处理。对于此类的管理请求不做处理，但是对于保留的邮件，仍然可以进行转发或者保留该消息（见下文）。
<li><b>Approve</b> -- 批注该消息，并发送至列表。对于成员资格的申请，该动作将会修改成员资格状态。 
<li><b>Reject</b> --
拒绝该消息，给发送者发送拒绝通知并丢弃原始信息。对于成员资格申请，则拒绝对成员资格状态作出修改。在以上两种情况下，你需要在拒绝中附加拒绝理由。 
<li><b>Discard</b> -- 


 弃原始信息，不发送拒绝通知。对于成员资格申请，不通知申请人，并丢弃该请求。该动作往往是针对已知的垃圾邮件的。


</ul>

<p>对于保留信息，如果你希望给系统管理员一份信息拷贝，需打开 Preserve 选项。 这种方法对于辱骂消息做丢弃处理是有效的，但是需要保存记录以利于日后的检查。

<p>开启“<strong>转发</strong>” (Forward) 选项，并填入你所希望那个转发的并且不在列表中的转发地址。在编辑并将一条保留消息发送至列表前，您需要将该消息转发给您自己（或列表所有者），并删除原始信息。收到信息后，加以修改，批准后（以列表密码座位信息头的值）发送至列表。在重新发送的消息中附带注释以声明已经对原始信息作出了修改完全是出于网络礼节的考虑。
<p>如果发送者是一位温和的成员，您可以有选择的清除他们的标记。这种方法有利于管理一个作为新成员见习期间使用的列表以及不需要进行审核批准的列表。 
<p>如果发送者不是列表成员，您可以将该电子邮件地址添加到发送者过滤器。发送者过滤器在<a href="%25(filterurl)s">发送者过滤器隐私页</a>，主要包括<strong>自动接收</strong>、<strong>自动保存、自动拒绝、自动删除</strong>四类。如果地址已经在一个发送者过滤器中，则是无效的。 
<p>做出修改后，请点击在页面顶部或者底部的“ Submit All Data ” ( 提交所有数据 ) 按钮。该按钮可以提交您对所有管理请求所作出的修改。 

<p><a href="%25(summaryurl)s">返回摘要页面。</a>
