Administratieve verzoeken worden op twee manieren getoond; op een
<ahref="%(summaryurl)s">"summary" (samenvattings) pagina</a>, en op een <em>"details"</em>
pagina.
De samenvattings pagina bevat wachtende inschrijf en afdmeld verzoeken en 
berichten die op goedkeuring wachten, gegroepeerd op afzender emailadres.
De pagina bevat een gedetailleerder overzicht van elk wachten bericht,
inclusief alle berichten headers en een uittreksel van de inhoud.


<p>Op elke pagina zijn de volgende mogelijkheden beschibaar:

<ul>
<li><b>Defer</b> -- Stel je beslissing uit. Er wordt niets met het
    verzoek gedaan, maar je kan nog steeds berichten doorsturen of bewaren
    (zie onder).

<li><b>Approve</b> -- Keur het bricht goed, stuur het door naar de lijst.
    Voor lidmaatschappen; keur de status verandering goed.

<li><b>Reject</b> -- Wijs het bericht af en stuur een afwijs notificatie
    naar de afzender. Voor lidmaatschappen; keur het wijzigings verzoek af.
    Geef in beide gevallen een reden van afwijzing op.

<li><b>Discard</b> -- Gooi het bericht weg zonder een afwijs bericht te
    versturen. Voor lidmaatschappen is dit een afwijzing zonder opgaaf van reden.
    Bij gevallen van SPAM is dit de beste oplossing
</ul>

<p>Voor achtergehouden berichten zet je de <b>Preserve</b> optie aan als je
een kopie wilt bewaren voor de site administrator. Dit is handig als je 
aanstootgevende berichten wilt tegenhouden maar eventueel bewijs materiaal 
wilt bewaren voor later onderzoek.

<p>Zet de <b>Forward to</b> optie aan en vul het forward adrrs in als je het bericht
wilt doorsturen aan iemand die niet op de lijst staat. Om het bericht te wijzigen
stuur je het eerst naar je zelf (of de lijst eigenaar) en gooi je het originele
bericht weg. As je het bericht ontvangen hebt, pas je het aan en stuur je het 
terug aan de lijst, inclusief een <tt>Approved:</tt> header met het list 
paswoord als waarde. Het wordt als goede netiquette gezien om in het bericht een 
mededeling op te nemen wat je in de text gewijzigd hebt.

<p>Als de zender een gemodereerd lid is van een lijst dan kan je evetueel 
de modereer vlag verwijderen Dit is handig als je je lijst leden een proeftijd
wilt laten doorgaan. Na het verwijderen van die vlag is het lid een niet
gemodereerd lid.

<p>Als de zender geen lid is van de lijst kan je het email adres in een 
<em>sender filter</em> plaatsen. Deze filters worden beschreven op de 
<ahref="%(filterurl)s">zender filter privacy pagina</a> en kunnen de volgende 
instellingen hebben:
<b>auto-accept</b> (Accepteerd), <b>auto-hold</b> (Vasthouden),
<b>auto-reject</b> (Afwijzen), or <b>auto-discard</b> (Verwijderen).  Deze optie
is niet beschikbaar als het adres al op een van de zender filters voorkomt.

<p>Als je klaar bent klik je op de <em>Submit All Data</em> knop onderaan de
pagina. Deze knop verstuurd al je acties voor de administratieve wijzigingen 
die je hebt uitgevoerd.

<p><a href="%(summaryurl)s">Terug naar de samenvattings pagina</a>.
