<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head><title>Autentificaci&oacute;n del %(who)s de %(listname)s</title></head><body bgcolor="#ffffff">
<form method="post" action="%(path)s">
%(message)s
  <table border="0" cellpadding="5" cellspacing="4" width="100%">
    <tbody><tr>
      <td colspan="2" align="center" bgcolor="#99ccff" width="100%">
	<b><font color="#000000" size="+1">
	    Autentificaci&oacute;n del %(who)s de %(listname)s</font></b>
      </td>
    </tr>
    <tr>
      <td><div align="right">List %(who)s Password:</div>
</td>
      <td><input name="adminpw" size="30" type="password"></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><input name="admlogin" value="Con permisu..." type="submit">
      </td>
    </tr>
  </tbody></table>
      <p><strong><em>Importante:</em></strong> A partir d'agora, tienes de tener habilitaes les cookies nel restolador, en casu contrariu, los cambeos nun fadr&aacute;n efeutu.

      </p><p>La interface alministrativa de Mailman emplega sesiones basaes en cookies, de 
mou que nun necesites identificate de contino con cada operaci&oacute;n alministrativa que
faigas. La cookie va caducar autom&aacute;ticamente cuando salgas del restolador, o puedes facela caducar esbillando la opci&oacute;n <em>Salida</em> baxo la seici&oacute;n titulada
 <em> Otres Actividades Alministratives</em> (que ver&aacute;s una vegada que consigas entrar 
con &eacute;xitu).


</p></form></body></html>
