<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head>
<!-- $Revision: 7442 $ --><title>P&aacute;gina de Informaci&oacute;n de &lt;MM-List-Name&gt;</title></head><body bgcolor="#ffffff">

    <p>
      <table border="0" cellpadding="5" cellspacing="4" cols="1">
	<tbody><tr>
	  <td colspan="2" align="center" bgcolor="#99ccff" width="100%">
	    <b><font color="#000000" size="+1"><mm-list-name> --
	<mm-list-description></font></b>
	  </td>
	</tr>
	<tr>
	    <td colspan="2">
	      <p>&nbsp;
	    </p></td>
	  </tr>
	  <tr>
	    <td colspan="1" bgcolor="#fff0d0" width="100%">
	      <b><font color="#000000">Sobro <mm-list-name></font></b>
	    </td>
            <td colspan="1" bgcolor="#fff0d0" width="100%">
              <mm-lang-form-start><mm-displang-box> <mm-list-langs>
              <mm-form-end>
    <mm-subscribe-form-start>
            <br>
</td>
	  </tr>
	    <tr>
	      <td colspan="2">
		<p><mm-list-info></p>
	  <p>  Pa ver unv&iacute;os anteriores a la llista,
	       puedes visitar los archivos de <mm-archive><mm-list-name>
		  </mm-archive>.
	      <mm-restricted-list-message>
	  </p>
	</td>
      </tr>
      <tr>
	<td colspan="2" bgcolor="#fff0d0" width="100%">
	  <b><font color="#000000">C&oacute;mo usar la llista  <mm-list-name></font></b>
	</td>
      </tr>
      <tr>
	<td colspan="2">
	  Pa unviar un mensax a tolos miembros de la llista,
	  &uacute;nvialu a la direici&oacute;n
	  <a href="mailto:<MM-Posting-Addr>"><mm-posting-addr></a>.

	  <p>Puedes soscribite a la llista, o camudar la soscripci&oacute;n, nes siguientes estayes.
	</p></td>
      </tr>
      <tr>
	<td colspan="2" bgcolor="#fff0d0" width="100%">
	  <b><font color="#000000">Soscribise a <mm-list-name></font></b>
	</td>
      </tr>
      <tr>
	<td colspan="2">
	  <p>
	    Soscr&iacute;bite a enllenando los <mm-list-name>datos del
	    siguiente formulariu
	  <mm-list-subscription-msg>
	  </p><ul>
	      <table border="0" cellpadding="2" cellspacing="2" height="112" width="70%">
		<tbody><tr>
		  <td bgcolor="#dddddd" width="55%">Direici&oacute;n de                                           corr&eacute;u electr&oacute;nicu:</td>
		  <td width="33%"><mm-subscribe-box>
	          <br>
</td>
	          <td width="12%">&nbsp;</td></tr>
                 <tr>
                  <td bgcolor="#dddddd" width="55%">El to nome (opcional):</td>
                  <td width="33%"><mm-fullname-box><br>
</td>
                 <td width="12%">&nbsp;</td></tr>
                <tr>
	          <td colspan="3"><font size="-1"> Tienes d'inxertar una clave de
		proteici&oacute;n. Esto date un nivel de segurid&aacute; baxu, pero tendr&iacute;a d'evitar qu'otros enreden cola to soscripci&oacute;n.  <b>Nun uses claves valoratibles</b> porque
		puede que se t'unv&iacute;e dalguna vegada daqu&eacute; ensin cifrar per corr&eacute;u-e.

		</font><p><font size="-1">Si decides nun escribir denguna clave, xenerar&eacute;moste
		una autom&aacute;ticamente y unviar&aacute;sete una vegada que
		confirmes la soscripci&oacute;n. Siempres podr&aacute;s pidir
		que se t'unv&iacute;e per corr&eacute;u la to clave cuando edites les
		opciones personales
	        <mm-reminder>
                  </font></p></td>
                </tr>  
      <tr>
	<td bgcolor="#dddddd">Escueyi una clave:</td>
	<td><mm-new-password-box><br>
</td>
	<td>&nbsp;</td></tr>
      <tr> 
	<td bgcolor="#dddddd">Confirma la clave:</td>
	<td><mm-confirm-password><br>
</td>
	<td>&nbsp; </td></tr>
      <tr>
	<td bgcolor="#dddddd">&iquest;En qu&eacute; llingua quies ver los mensaxes?</td> 
	<td> <mm-list-langs><br>
</td>
	<td>&nbsp; </td></tr>
      <tr>
	<td>&iquest;Quies recibir los mensaxes de cada d&iacute;a resum&iacute;os
            n&uacute;n &uacute;nicu mensax (digest)?
	  </td>
	<td><mm-undigest-radio-button> Non
	    <mm-digest-radio-button>  S&iacute;
	</td>
      </tr>
      <tr>
	<td colspan="3">
	  <center><mm-subscribe-button></center>
    <br>
</td></tr></tbody></table>
    <mm-form-end>
    </ul>
    </td>
    </tr>
    <tr>
      <td colspan="2" bgcolor="#fff0d0" width="100%">
	<a name="subscribers">
        <b><font color="#000000">Soscriptores de <mm-list-name></font></b></a>
      </td>
    </tr>
    <tr>
      <td colspan="2" width="100%">
	<mm-roster-form-start>
	<mm-roster-option>
	    <mm-form-end>
	  <p>
	<mm-options-form-start>
	<mm-editing-options>
		<mm-form-end>
      </p><br>
</td>
    </tr>
  </tbody></table>
<mm-mailman-footer>

</p></body></html>
