<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head>
<!-- $Revision: 7442 $ -->


    <link rel="SHORTCUT ICON" href="<mm-favicon>"><title>&lt;MM-Presentable-User&gt; membership configuration for &lt;MM-List-Name&gt;</title></head><body bgcolor="#ffffff">
    <table border="0" cellpadding="5" cellspacing="0" width="100%">
    <tbody><tr><td bgcolor="#99ccff" width="100%"><b>
        <font color="#000000" size="+1">
        <mm-list-name> Configuraci&oacute;n del usuariu 
        <mm-presentable-user>
	</font></b></td></tr>
    </tbody></table>
<p>
<table border="0" cellpadding="5" cellspacing="5" width="100%">
    <tbody><tr><td>
        Opciones de soscripci&oacute;n  de <b><mm-presentable-user></b> na llista de distribuci&oacute;n <mm-list-name>.
        </td><td><mm-form-start><mm-logout-button><mm-form-end><br>
</td>
    </tr><tr>
        <td colspan="2">
        <mm-case-preserved-user>

        <mm-disabled-notice>

        <p><mm-results>
        </p><br>
</td>
    </tr>
</tbody></table>

<mm-form-start>
</p><p>
<table border="0" cellpadding="5" cellspacing="0" width="100%">
    <tbody><tr><td colspan="2" bgcolor="#fff0d0" width="100%">
        <font color="#000000">
        <b>Pa camudar la informaci&oacute;n cola que tas soscritu a <mm-list-name></b>
	</font></td></tr>
    <tr><td colspan="2"> Puedes camudar la direici&oacute;n cola que tas soscritu a la llista de distribuci&oacute;n,
        introduciendo una direici&oacute;n nueva nel campo qu'apaez m&aacute;s abaxo. Unviar&aacute;sete un mensax de confirmaci&oacute;n
        a la direici&oacute;n qu'indiques, darr&eacute;u que los cambeos nun fadr&aacute;n efeutu fasta que lo confirmes.

        <p>Les confirmaciones caduquen dempu&eacute;s de <mm-pending-days>.
 
         </p><p>Opcionalmente, puedes poner o camudar el to nome y apell&iacute;os
         (por exemplu <em>Xurde Prendes</em>).

        </p><p>Si quies aplicar les modificaciones de soscripci&oacute;n a
        toles llistes nes que tas soscritu en <mm-host>,
        habilita la caxella de verificaci&oacute;n <em>Camudar globalmente</em>.

 
         </p></td></tr>
     <tr><td><center>
         <table border="0" cellpadding="2" cellspacing="2" cols="2" width="80%">
        <tbody><tr><td bgcolor="#dddddd"><div align="right">Direici&oacute;n nueva:</div></td>
            <td><mm-new-address-box><br>
</td>
            </tr>
        <tr><td bgcolor="#dddddd"><div align="right">Confirmar otra vuelta:</div></td> 
            <td><mm-confirm-address-box><br>
</td>
            </tr>
        </tbody></table></center>
        </td>
        <td><center>
        <table border="0" cellpadding="2" cellspacing="2" cols="2" width="80%">
             <tbody><tr><td bgcolor="#dddddd"><div align="right">El to nome
             (opcional):</div></td>
             <td><mm-fullname-box><br>
</td>
             </tr>
        </tbody></table></center>
        </td>
        </tr>
     <tr><td colspan="2"><center><mm-change-address-button>
         <p><mm-global-change-of-address>Camudar globalmente</p></center></td>
     </tr>
</tbody></table>

</p><p>
<table border="0" cellpadding="5" cellspacing="5" width="100%">
    <tbody><tr><td bgcolor="#fff0d0" width="50%"><font color="#000000">
        <b>P'anular la soscripci&oacute;n de <mm-list-name></b></font></td>

	<td bgcolor="#fff0d0" width="50%"><font color="#000000">
        <b>El restu de les soscripciones que tienes en <mm-host></b>
	</font></td></tr>

    <tr><td>
        Esbilla la caxella de confirmaci&oacute;n y calca esti bot&oacute;n
        p'anular la to soscripci&oacute;n d'esta llista de distribuci&oacute;n.
        <strong>Avisu:</strong>
        &iexcl;Esta aici&oacute;n nun tien efeutu nel intre!
        <p>
        </p><center><mm-unsubscribe-button></center></td>
    <td>
        Puedes ver un informe del restu de les llistes de distribuci&oacute;n de <mm-host>nes que tas soscritu. Usa esta parte si quies aplicar cambeos globales al restu de les tos soscripciones.

        <p>
        </p><center><mm-other-subscriptions-submit></center>
	</td></tr>
</tbody></table>

<table border="0" cellpadding="5" cellspacing="0" width="100%">
    <tbody><tr><td colspan="2" bgcolor="#fff0d0" width="100%"><font color="#000000">
        <span style="font-weight: bold;"></span><b>La to clave pa <mm-list-name></b>
	</font></td></tr>

    <tr valign="top"><td width="50%">
        <a name="reminder">
        </a><center>
<a name="reminder">        </a><h3><a name="reminder">&iquest;Escaecisti la clave?</a></h3>
<a name="reminder">        </a></center>&nbsp;
<a name="reminder">        Calca nesti bot&oacute;n pa facer que t'unvien un corr&eacute;u-e a la direici&oacute;n cola que tas soscritu.
        </a><p><mm-umbrella-notice>
<a name="reminder">        </a></p><center>
<a name="reminder">        <mm-email-my-pw>
        </a></center>
<a name="reminder">        </a></td>

    <td width="50%">
        <a name="changepw">
        </a><center>
<a name="changepw">        </a><h3><a name="changepw">Pa camudar la clave</a></h3>
<a name="changepw">        </a><table border="0" cellpadding="2" cellspacing="2" cols="2" width="70%">
            <tbody><tr><td bgcolor="#dddddd"><div align="right">Clave
                nueva:</div></td>
                <td><mm-new-pass-box><br>
</td>
                </tr>
            <tr>
                <td bgcolor="#dddddd"><div align="right">Confirmar otra vuelta:</div></td>
                <td><mm-confirm-pass-box><br>
</td>
            </tr>
        </tbody></table>

<a name="changepw">        <mm-change-pass-button>
        </a><p></p><center><mm-global-pw-changes-button><a name="changepw">Camudar globalmente.
        </a></center>
</center></td></tr></tbody></table>

</p><p>
<table border="0" cellpadding="5" cellspacing="0" width="100%">
    <tbody><tr><td bgcolor="#fff0d0" width="100%"><font color="#000000">&nbsp;
        <b>Les tos opciones de soscripci&oacute;n pa la llista <mm-list-name></b>
	</font></td></tr>
</tbody></table>

</p><p>
<i><strong>Comprob&aacute;ronse los valores actuales.</strong></i>

</p><p>Dec&aacute;tate que dalguna de les opciones tienen una caxella seleicionable
<em>Aplicar globalmente</em>.
Activando esti campu, fadr&aacute;s que los cambeos s'apliquen a cada una
de les llistas de distribuci&oacute;n de <mm-host>nes que tas soscritu. Calca col mur en <em>Llistar el restu de les mios soscripciones</em>
 m&aacute;s arriba pa ver cu&aacute;les son.

</p><p>
<table border="0" cellpadding="4" cellspacing="3" width="100%">
    <tbody><tr><td bgcolor="#cccccc">
        <a name="disable">
        <strong>Entrega de corr&eacute;u</strong></a><p>
        Si esbilles <em>Habilitada</em> recibir&aacute;s los mensaxes que s'unvien a esta llista de distribuci&oacute;n. Si esbilles
        <em>Inhabilitada</em>
indiques el deseyu de nun recibir el corr&eacute;u unvi&aacute;u a la llista de
distribuci&oacute;n durante un tiempu (por exemplo, si vas de vacaciones). Si
inhabilites la receici&oacute;n de los mensaxes de corr&eacute;u, nun escaezas volver
a habilitar la receici&oacute;n cuandu proceda. </p></td><td bgcolor="#cccccc">
        <mm-delivery-enable-button>Habilit&aacute;u<br>
        <mm-delivery-disable-button>Inhabilit&aacute;u<p>
        <mm-global-deliver-button><i>Aplicar globalmente</i>
        </p></td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Activar mou Digest</strong><p>
        Si habilites el mou digest, recibir&aacute;s diariamente los mensaxes unviados a la llista recopilaos n&uacute;n &uacute;nicu mensax,
        n'arr&oacute;u de recibilos a mid&iacute;a que s'unv&iacute;en. Si camudes el mou digest de Activar a Desactivar, puede que recibas un caberu
        digest.
        </p></td><td bgcolor="#cccccc">
        <mm-undigest-radio-button>Desactivar<br>
        <mm-digest-radio-button>Activar
        </td></tr>
        
    <tr><td bgcolor="#cccccc">
        <strong>&iquest;Recibir los recopilatorios en testu planu
        o con codificaci&oacute;n MIME?</strong><p>&nbsp;
        El to llector de corr&eacute;u puede que nun sofite recopilaciones (digests) MIME.
        En xeneral prefi&eacute;rense les recopilaciones MIME, pero si tienes problemes
        a la hora de lleeles, esbilla les recopilaciones en testu planu.
        </p></td><td bgcolor="#cccccc">
        <mm-mime-digests-button>MIME<br>
        <mm-plain-digests-button>Texto plano<p>
        <mm-global-mime-button><i>Aplicar globalmente</i>
        </p></td></tr>
        
    <tr><td bgcolor="#cccccc">
        <strong>&iquest;Quies recibir los mensaxes que t&uacute; mesmu unv&iacute;es a esta llista?</strong><p>
        Normalmente, recibir&aacute; una copia de cada mensaje que env&iacute;
        a la lista. Si no quiere recibir dicha copia, ponga esta opci&oacute;n a
        <em>No</em>.
        </p></td><td bgcolor="#cccccc">
        <mm-dont-receive-own-mail-button>Non<br>
        <mm-receive-own-mail-button>Si<br>

        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>&iquest;Quies recibir una confirmaci&oacute;n cuando unv&iacute;es corr&eacute;u a esta llista?</strong><p>
        </p></td><td bgcolor="#cccccc">
        <mm-dont-ack-posts-button>Non<br>
        <mm-ack-posts-button>Si
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>&iquest;Quies recibir los recordatorios d'esta llista?</strong><p>
        Mensualmente, recibir&aacute;s un mensax de corr&eacute;u cola clave de
        cada una de les llistes nes que tas soscritu. Puedes inhabilitar esti comportamientu per llista, nam&aacute;i con seleicionar
        <em>Non</em> nesta opci&oacute;n. Si decides inhabilitar el recordatoriu
        de les claves en toles llistes a les que tas soscritu, nun se te mandar&aacute; deng&uacute;n mensaxe.
        </p></td><td bgcolor="#cccccc">
        <mm-dont-get-password-reminder-button>Non<br>
        <mm-get-password-reminder-button>Si<p>
        <mm-global-remind-button><i>Aplicar globalmente</i>
        </p></td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>&iquest;Quies anubrite na llista de soscriptores?</strong><p>
        Cuando daqui&eacute;n vea la llista de soscriptores, ver&aacute; que davezu la to direici&oacute;n de corr&eacute;u-e saldr&aacute; llistada 
        (d'una forma escura pa enga&ntilde;ifar a los escaneadores spam). Si nun
        quies que la to direici&oacute;n salga a rellucir, seleicione <em>Si</em>.
        </p></td><td bgcolor="#cccccc">
        <mm-public-subscription-button>Non<br>
        <mm-hide-subscription-button>Si
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>&iquest;En qu&eacute; llingua quies ver los mensaxes de la llista?</strong><p>
        </p></td><td bgcolor="#cccccc">
        <mm-list-langs>
         <br>
</td></tr>
 
     <tr><td bgcolor="#cccccc">
         <strong>&iquest;A qu&eacute; triba de temes prestar&iacute;ate soscribite?  </strong><p>
Al seleicionar &uacute;n o m&aacute;s temes, puedes pe&ntilde;erar el tr&aacute;ficu de la llista
de distribuci&oacute;n, de mou que nam&aacute;i recibir&aacute;s un soconxuntu de los
mensaxes. Nam&aacute;i t'arribar&aacute;n los mensaxes que concasen con dalg&uacute;n de los
temes esbillaos. </p><p>Si un mensax nun concasa col tema, la regla que
		  decide si s'entrega'l mensax depende de la
		  configuraci&oacute;n de la opci&oacute;n d'abaxo. Si
		  nun seleiciones deng&uacute;n tema d'inter&eacute;s,
		  recibir&aacute;s tolos mensaxes dirix&iacute;os a la llista.
         </p></td><td bgcolor="#cccccc">
         <mm-topics>
         <br>
</td></tr>
 
     <tr><td bgcolor="#cccccc">
         <strong>&iquest;Quies recibir los mensaxes que nun concasen con deng&uacute;n tema?</strong><p>
Esta opci&oacute;n nam&aacute;i fai efeutu si tas soscritu a dalg&uacute;n tema de los
d'arriba. Esta opci&oacute;n describe cual va ser la regla d'entrega por
defeutu pa los mensaxes que nun concasen con deng&uacute;n tema. Si esbilles
que <em>Non</em> conse&ntilde;es el to deseyu de nun recibir los mensaxes que concasen con deng&uacute;n tema, mentantu que si esbilles que <em>Si</em> significa que recibir&aacute;s
		  tolos mensaxes que nun concasen con deng&uacute;n tema.

		  </p><p>Si nun se seleiciona deng&uacute;n tema d'inter&eacute;s na estaya d'arriba, ent&oacute;s recibir&aacute;s tolos
		  mensaxes que s'unv&iacute;en a la llista.
         </p></td><td bgcolor="#cccccc">
         <mm-suppress-nonmatching-topics>Non<br>
         <mm-receive-nonmatching-topics>Si
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>&iquest;Quies evitar copies duplicaes de los tos propios mensaxes?</strong><p>
		Cuando tea incluy&iacute;o espl&iacute;citamente nes testeres
		<tt>To:</tt> o <tt>Cc:</tt> d'un mensax dirix&iacute;u a
		la llista, puedes optar por non recibir otra copia de la
		llista de distribuci&oacute;n. Seleiciona <em>Si</em> pa
		evitar recibir copies de la llista de distribuci&oacute;n o
		<em>Non</em> pa recibiles.

		</p><p>Si la llista tien soscriptores colos mensaxes
		personalizaos activaos, y escoyisti recibir copies,
		cada copia tendr&aacute; una testera <tt>X-Mailman-Copy:
		yes</tt>.

        </p></td><td bgcolor="#cccccc">
        <mm-receive-duplicates-button>Non<br>
        <mm-dont-receive-duplicates-button>Si<p>
        <mm-global-nodupes-button><i>Aplicar globalmente</i>
        </p></td></tr>

    <tr><td colspan="2">
        <center><mm-options-submit-button></center>
        <br>
</td></tr>

</tbody></table>

</p><p>
<mm-form-end>

<mm-mailman-footer>

</p></body></html>
